@import "mixins";

.burger {
  height: 30px;
  translate: 0;
  margin-top: 15px;

  &__line {
    content: '';
    width: 40px;
    height: 6px;
    background-color: #777;
    border-radius: 3px;
    margin: 3px 0;
    transition: 500ms;
    translate: 0;
  }

  &--cross {
    .burger__line {
      content: '';
      width: 40px;
      height: 6px;
      margin: 0;

      &:nth-child(1) {
        rotate: 45deg;
        translate: 0 200%;
      }

      &:nth-child(2) {
        height: 0;
        transition: 200ms;
        background-color: rgba(0, 0, 0, 0);
        translate: 0 200%;

      }

      &:nth-child(3) {
        rotate: -45deg;
        translate: 0 100%;
      }
    }
  }
}