$main-color: #ffffff;
$accent-color: #ff7d03;
$accent-dark-color: #582400;
$main-bg-color: #383844;
$main-bg-transparent-color: rgba(56, 56, 68, 0.9);
$about-bg-color: #000000;
$bg-secondary-color: #4b4b57;
$footer-text-color: rgba(255,255,255,0.7);
$bg-dark-mask-color: rgba(0,0,0,0.5);
$success-color: #1eae1e;
$error-color: #FF0000;
$yellow-color: #ffe000