@import "colors";
@import "mixins";

.contacts {
  padding-bottom: 30px;

  &__maps {
    @include respond(laptop) {
      @include flex();
    }
  }

  &__item {
    position: relative;

    @include respond(laptop) {
      @include flex($dir: 'column-reverse');
      width: 100%;
      max-width: 500px;
      margin-right: 50px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__map {
    display: block;
    width: 100vw;
    height: 70vh;

    @include respond(laptop) {
      max-width: 500px;
    }
  }

  &__info {
    position: absolute;
    color: $accent-color;
    font-size: 12px;
    background-color: $main-bg-color;
    z-index: 10;
    top: 20%;
    right: 0;
    padding: 15px;

    @include respond(laptop) {
      position: relative;
      flex-grow: 1;
      font-size: 16px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    @include respond(laptop){
      font-size: 30px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }

  &__text {
    @include respond(laptop){
      text-align: center;
    }
  }

  &__social {
    margin-top: 30px;
  }
  
  &__phone{
    color: $main-color;
    font-size: 16px;
    font-weight: 700;
  }
}