@import "mixins";

.equipment{

  &__container{
    width: 90%;
    @include flex($dir: 'column');

    @include respond(tablet){
      @include flex();
    }

    @include respond(laptop){
      max-width: 1000px;
    }
  }

  &__info{
    text-align: center;
    width: 90%;
    font-size: 12px;

    @include respond(tablet){
      align-self: flex-start;
      font-size: 14px;
    }

    @include respond(laptop){
      font-size: 18px;
    }

    //@include respond(desktop){
    //  font-size: 18px;
    //}

    &--left{
      @include respond(tablet) {
        text-align: left;
      }
    }

    &--right{
      @include respond(tablet) {
        text-align: right;
      }
    }

    &--close{
      display: none;
    }
  }

  &__mid{
    @include flex($dir: 'column');
    position: relative;
    //overflow: hidden;
    width: 90%;
    max-width: 250px;
    @include respond(tablet){
      min-width: 250px;
    }
  }

  &__btn{
    position: relative;
    height: 200px;
    width: 200px;
    margin: 50px 0;
    left: -10%;
  }

  &__circle{
    position: absolute;
    opacity: 100%;


    &--lg{
      height: 100%;
      top: 0;
      animation: vanishing 4000ms linear infinite;

    }

    &--md{
      height: 80%;
      top: 10%;
      right: 10%;
      animation: vanishing 3500ms linear infinite;

    }

    &--sm{
      height: 60%;
      top: 20%;
      right: 20%;

      animation: vanishing 3000ms linear infinite;

    }
  }

  &__click{
    position: absolute;
    height: 36%;
    top: 33%;
    right: 33%;

    animation: vanishing 3000ms linear infinite;
  }

  &__racer{
    height: 300px;
    position: absolute;
    right: 0;
    z-index: -10;
  }

  &__list{
    display: none;

    &--open{
      @include flex($dir: 'column', $justify: 'space-between');
    }
  }

  &__item{
    @include flex($dir: 'column');
    width: 80%;
    margin-bottom: 20px;

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__img{
    max-width: 80px;
  }

  &__title{
    font-size: 13px;
  }
}

@keyframes vanishing {
  0%{
    opacity: 100%;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }
}