@import "colors";
@import "mixins";

*{
  font-family: Roboto;
}

.page{
  background-color: $main-bg-color;
  color: $main-color;
}

.container{
  @include flex($dir: 'column');
}

.accent{
  color: $yellow-color;
}