@import "colors";
@import "mixins";

.pros {
  padding-bottom: 50px;

  &__list {
    @include flex($dir: 'column');
    @include respond(tablet){
      max-width: 600px;
      @include flex($wrap: 'wrap')
    }
    @include respond(laptop){
      max-width: 1200px;
    }
  }

  &__item {
    text-align: center;
    @include flex($dir: 'column');

    @include respond(tablet){
      @include flex();
      &:nth-child(2n) {
        @include flex($dir: 'row-reverse');

        .pros__triangle{
          border-left: 0;
          left: -20px;
        }
      }
    }

    @include respond(laptop){
      &:nth-child(2n) {
        @include flex();

        .pros__triangle{
          bottom: calc(50% - 20px);
          left: calc(100% - 20px);
        }
      }
      &:nth-last-child(1), &:nth-last-child(2) {
        @include flex($dir: 'row-reverse');
        .pros__triangle{
          border-left: 0;
          left: -20px;
        }
      }
    }
  }

  &__info {
    background-color: $bg-secondary-color;
    padding: 20px;
    position: relative;

    &:hover {
      background-color: $accent-color;
      color: $about-bg-color;
      transition: 500ms;

      .pros__triangle {
        background-color: $accent-color;
        transition: 500ms;
      }
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  &__text {
    font-size: 14px;
  }

  &__img {
    object-fit: cover;
  }

  &__block {
    display: block;
    width: 300px;
    height: 300px;
    @include flex($dir: column);
  }

  &__triangle {
    position: absolute;
    z-index: 10;
    width: 40px;
    height: 40px;
    bottom: -20px;
    right: calc(50% - 20px);
    background-color: $bg-secondary-color;
    rotate: 45deg;

    @include respond(tablet){
      bottom: calc(50% - 20px);
      left: calc(100% - 20px);
    }
  }
}