@import "mixins";
@import "colors";

.section {
  @include flex($dir: 'column');
  width: 100%;
  position: relative;
  padding-bottom: 50px;


  &--short{
    padding: 0;
  }

  &--up{
    top: -110px;
    @include respond(laptop) {
      top: -130px;
    }
    @include respond(desktop) {
      top: -130px;
    }
  }

  &__header {
    width: 100%;
    overflow: hidden;
    @include flex($dir: 'column');
    position: relative;
    height: 180px;
    z-index: 10;
    @include respond(desktop) {
      //height: 270px;
    }
  }

  &__mask {
    position: absolute;

    &--lg {
      @include respond(laptop) {
        width: 100%;
      }

    }

    &--sm {
      width: 90%;
      max-width: 500px;
    }
  }

  &__title {
    z-index: 10;
    width: 60%;
    max-width: 350px;
  }

  &__img {
    display: none;
    top: -50px;
    z-index: 10;
    position: absolute;

    @include respond(tablet) {
      display: block;

      left: -10%;
      max-height: 200px;
    }
    @include respond(laptop) {
      left: 0;
      top: -100px;
      max-height: 250px;
    }
    @include respond(desktop) {
      top: -125px;
      max-height: 300px;
    }

    &--full {
      left: -50px;
    }

    &--right {
      @include respond(tablet) {
        left: unset;
        right: 0;
        max-height: 110px;
        top: 30px;
      }

      @include respond(laptop){
        max-height: 200px;
        top: -10px;
      }

      @include respond(desktop){
        max-height: 250px;
        top: -30px;
      }
    }
  }

  &__question {
    width: 90%;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
  }
}