@import "mixins";
@import "colors";

.section {
  @include flex($dir: 'column');
  position: relative;
  top: -30px;
  padding-bottom: 50px;
  @include respond(laptop) {
    top: -50px;
  }
  @include respond(desktop) {
    top: -90px;
  }

  &__header {
    width: 100vw;
    overflow: hidden;
    @include flex($dir: 'column');
    position: relative;
    //top: -50%;
    height: 180px;
    z-index: 10;
    @include respond(desktop) {
      height: 270px;
    }
  }

  &__mask {
    position: absolute;

    &--lg {
      @include respond(laptop) {
        width: 100%;
      }

    }

    &--sm {
      width: 90%;
      max-width: 500px;
    }
  }

  &__title {
    z-index: 10;
    width: 60%;
    max-width: 350px;
  }

  &__img {
    display: none;
    top: -50px;
    z-index: 10;
    position: absolute;

    @include respond(tablet) {
      display: block;

      left: -10%;
      max-height: 200px;
    }
    @include respond(laptop) {
      left: 0;
      top: -100px;
      max-height: 250px;
    }
    @include respond(desktop) {
      max-height: 350px;
    }

    &--full{
      left: -50px;
    }
  }

  &__question {
    width: 90%;
    color: $main-color;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
  }
}