@import "mixins";
@import "colors";

.tour {
  padding-top: 80px;

  &__variants {
    width: 100%;
    position: relative;
    background-size: cover;
    @include flex($dir: 'column');

    @include respond(tablet) {
      @include flex();
      padding: 100px 0 100px;
    }
    @include respond(laptop) {
      @include flex();
    }
  }

  &__item {
    @include flex($dir: 'column');
    background-size: cover;
    background-position: center;
    //padding: 50px 0 50px;
    height: 100vh;
    width: 100%;

    @include respond(tablet) {
      background: none !important;
      @include flex($dir: 'column', $justify: 'space-between');
      height: auto;
    }

    @include respond(laptop) {
      width: auto;
      margin-right: 50px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__info {
    width: 80%;
    max-width: 250px;
  }

  &__container {
    padding: 20px 20px;
    width: 250px;

    background-color: $main-bg-transparent-color;
    border-radius: 20px;

    margin-bottom: 30px;

    @include respond(tablet) {
      margin-bottom: 0;
    }
  }

  &__name {
    font-size: 25px;
    color: $yellow-color;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__text {
    text-align: center;

    &::after {
      content: '';
      display: block;
      border-bottom: 2px dotted $yellow-color;
      height: 2px;
      width: 50px;
      margin: 5px auto;
    }
  }

  &__cost {
    margin-top: 20px;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
  }

  &__description {
    width: 80%;
    max-width: 200px;
  }

}